header {
  color: white;
}
.profile {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* ~~~~~~~~~ start of gradient backgorund ~~~~~~~~~~~~~~~~~~ */

  background: hsla(39, 73%, 49%, 1);

  background: linear-gradient(
    90deg,
    hsla(39, 73%, 49%, 1) 0%,
    hsla(226, 43%, 44%, 1) 75%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(39, 73%, 49%, 1) 0%,
    hsla(226, 43%, 44%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(39, 73%, 49%, 1) 0%,
    hsla(226, 43%, 44%, 1) 75%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D79922", endColorstr="#4056A1", GradientType=1 );
  /* ~~~~~~~~~ end of gradient backgorund ~~~~~~~~~~~~~~~~~~ */
}
.profile-pc {
  display: none;
}

/* ~~~~~~~~~ responsive design ~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1200px) {
  .profile {
    display: none;
  }
  .profile-pc {
    height: 520px;
    padding-top: 200px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 4rem;
    padding-right: 5rem;
  }
}
