nav {
  position: fixed;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em 0 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav span {
  font-family: "Bungee", cursive;
}
.writeanewtweet {
  background-color: #4056a1;
  color: whitesmoke;
  cursor: pointer;
  border: none;
}
.writeanewtweet i {
  animation: jumpInfinite 1.5s infinite;
  position: absolute;
  top: 84px;
}
.writeanewtweet:hover {
  border: #ffffff solid 1px;
  border-radius: 25px;
}

/* ~~~~~~~~~ animations ~~~~~~~~~~~~~~~~~~ */
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}
