.new-tweet {
  background-color: #f1f0eb;
  padding: 2rem;
  border: #242528 solid 1px;
  margin-top: 1rem;
}
.new-tweet:hover {
  -webkit-box-shadow: -3px 6px 13px 5px rgba(0, 0, 0, 0.63);
  box-shadow: -3px 6px 13px 5px rgba(0, 0, 0, 0.63);
}

.btn {
  background-color: #4056a1;

  color: #f1f0eb;
  border-radius: 15px;
}
.btn:hover {
  color: #4056a1;
  font-family: "Bungee", cursive;
  background-color: #f1f0eb;
  cursor: pointer;
}
.upperform {
  text-align: left;
  border-bottom: rgb(101, 90, 90) solid 0.25rem;
}
.lowerform {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  font-family: "Bungee", cursive;
}
.textarea {
  resize: none;
  background-color: #f1f0eb;
  margin-left: 2rem;
  width: 90%;
  border: none;
}
