section article {
  border: #545149 solid 1px;
  margin-top: 2rem;
}
section article header img {
  height: 6rem;
}
section article header {
  color: black;
  display: flex;
}
.author {
  display: flex;
  justify-content: space-between;
  color: #545149;
}
